In [1]:
%run create_tables.py

Connecting to redshift
Connected to redshift
Dropping existing tables if any
Executing drop: DROP TABLE IF EXISTS staging_events
Executing drop: DROP TABLE IF EXISTS staging_songs
Executing drop: DROP TABLE IF EXISTS songplays
Executing drop: DROP TABLE IF EXISTS users
Executing drop: DROP TABLE IF EXISTS songs
Executing drop: DROP TABLE IF EXISTS artists
Executing drop: DROP TABLE IF EXISTS time
Creating tables
Executing create:
    CREATE TABLE staging_events(
        artist              VARCHAR,
        auth                VARCHAR,
        firstName           VARCHAR,
        gender              VARCHAR,
        itemInSession       INTEGER,
        lastName            VARCHAR,
        length              FLOAT,
        level               VARCHAR,
        location            VARCHAR,
        method              VARCHAR,
        page                VARCHAR,
        registration        FLOAT,
        sessionId           INTEGER,
        song                VARCHAR,
        status              INTEGER,
        ts                  TIMESTAMP,
        userAgent           VARCHAR,
        userId              INTEGER
    )

Executing create:
    CREATE TABLE staging_songs(
        num_songs           INTEGER,
        artist_id           VARCHAR,
        artist_latitude     FLOAT,
        artist_longitude    FLOAT,
        artist_location     VARCHAR,
        artist_name         VARCHAR,
        song_id             VARCHAR,
        title               VARCHAR,
        duration            FLOAT,
        year                INTEGER
    )

Executing create:
    CREATE TABLE songplays
    (
        songplay_id BIGINT   PRIMARY KEY,
        start_time timestamp NOT NULL sortkey distkey,
        user_id INTEGER      NOT NULL,
        level VARCHAR,
        song_id VARCHAR      NOT NULL,
        artist_id VARCHAR    NOT NULL,
        session_id INTEGER,
        location VARCHAR,
        user_agent VARCHAR
    )

Executing create:
    CREATE TABLE users
    (
        user_id INTEGER NOT NULL sortkey PRIMARY KEY,
        first_name VARCHAR,
        last_name VARCHAR,
        gender VARCHAR,
        level VARCHAR
    )

Executing create:
    CREATE TABLE songs
    (
        song_id INTEGER NOT NULL sortkey PRIMARY KEY,
        title VARCHAR NOT NULL,
        artist_id VARCHAR NOT NULL,
        year INTEGER NOT NULL,
        duration FLOAT
    )

Executing create:
    CREATE TABLE artists
    (
        artist_id VARCHAR NOT NULL sortkey PRIMARY KEY,
        name VARCHAR NOT NULL,
        location VARCHAR,
        latitude FLOAT,
        longitude FLOAT
    )

Executing create:
    CREATE TABLE time
    (
        start_time timestamp NOT NULL sortkey PRIMARY KEY,
        hour INTEGER NOT NULL,
        day INTEGER NOT NULL,
        week INTEGER NOT NULL,
        month INTEGER NOT NULL,
        year INTEGER NOT NULL,
        weekday INTEGER NOT NULL
    )

Create table Ended

In [2]:
%run etl.py

AWS Redshift connection established OK.
load staging tables...

InternalError_: Load into table 'staging_events' failed.  Check 'stl_load_errors' system table for details.