In [1]:
%run create_tables.py

Connecting to redshift
Connected to redshift
Dropping existing tables if any
Executing drop: DROP TABLE IF EXISTS staging_events
Executing drop: DROP TABLE IF EXISTS staging_songs
Executing drop: DROP TABLE IF EXISTS songplays
Executing drop: DROP TABLE IF EXISTS users
Executing drop: DROP TABLE IF EXISTS songs
Executing drop: DROP TABLE IF EXISTS artists
Executing drop: DROP TABLE IF EXISTS time
Creating tables
Executing create:
    CREATE TABLE IF NOT EXISTS staging_events (
        event_id    BIGINT IDENTITY(0,1),
        artist      VARCHAR,
        auth        VARCHAR,
        firstName   VARCHAR,
        gender      VARCHAR,
        itemInSession VARCHAR,
        lastName    VARCHAR,
        length      VARCHAR,
        level       VARCHAR,
        location    VARCHAR,
        method      VARCHAR,
        page        VARCHAR,
        registration VARCHAR,
        sessionId   INTEGER SORTKEY DISTKEY,
        song        VARCHAR,
        status      INTEGER,
        ts          TIMESTAMP,
        userAgent   VARCHAR,
        userId      INTEGER
    );

Executing create:
    CREATE TABLE IF NOT EXISTS staging_songs (
        num_songs           INTEGER,
        artist_id           VARCHAR,
        artist_latitude     VARCHAR,
        artist_longitude    VARCHAR,
        artist_location     VARCHAR,
        artist_name         VARCHAR,
        song_id             VARCHAR,
        title               VARCHAR,
        duration            DECIMAL,
        year                INTEGER
    );

Executing create:
    CREATE TABLE IF NOT EXISTS songplays (
        songplay_id INTEGER IDENTITY(0,1)   NOT NULL SORTKEY,
        start_time  TIMESTAMP               NOT NULL,
        user_id     VARCHAR(50)             NOT NULL DISTKEY,
        level       VARCHAR(10)             NOT NULL,
        song_id     VARCHAR(40)             NOT NULL,
        artist_id   VARCHAR(50)             NOT NULL,
        session_id  VARCHAR(50)             NOT NULL,
        location    VARCHAR(100)            NULL,
        user_agent  VARCHAR(255)            NULL
    );

Executing create:
    CREATE TABLE IF NOT EXISTS users (
        user_id     INTEGER         NOT NULL SORTKEY,
        first_name  VARCHAR(50)     NULL,
        last_name   VARCHAR(80)     NULL,
        gender      VARCHAR(10)     NULL,
        level       VARCHAR(10)     NULL
    ) diststyle all;

Executing create:
    CREATE TABLE IF NOT EXISTS songs (
        song_id     VARCHAR(50)     NOT NULL SORTKEY,
        title       VARCHAR(500)    NOT NULL,
        artist_id   VARCHAR(50)     NOT NULL,
        year        INTEGER         NOT NULL,
        duration    DECIMAL(9)      NOT NULL
    );

Executing create:
    CREATE TABLE IF NOT EXISTS artists (
        artist_id   VARCHAR(50)             NOT NULL SORTKEY,
        name        VARCHAR(500)            NULL,
        location    VARCHAR(500)            NULL,
        latitude    DECIMAL(9)              NULL,
        longitude   DECIMAL(9)              NULL
    ) diststyle all;

Executing create:
    CREATE TABLE IF NOT EXISTS time (
        start_time  TIMESTAMP   NOT NULL SORTKEY,
        hour        SMALLINT    NULL,
        day         SMALLINT    NULL,
        week        SMALLINT    NULL,
        month       SMALLINT    NULL,
        year        SMALLINT    NULL,
        weekday     SMALLINT    NULL
    ) diststyle all;

Create table Ended

In [2]:
%run etl.py

AWS Redshift connection established OK.
load staging tables...
Processing query:
    COPY staging_events
        FROM 's3://udacity-dend/log-data'
        iam_role 'arn:aws:iam::089962944140:role/myRedshiftRole'
        FORMAT AS JSON 's3://udacity-dend/log_json_path.json'
        REGION 'us-west-2'
        TIMEFORMAT AS 'epochmillisecs';


    COPY staging_events
        FROM 's3://udacity-dend/log-data'
        iam_role 'arn:aws:iam::089962944140:role/myRedshiftRole'
        FORMAT AS JSON 's3://udacity-dend/log_json_path.json'
        REGION 'us-west-2'
        TIMEFORMAT AS 'epochmillisecs';
 processed OK.
Processing query:
    COPY staging_songs
        FROM 's3://udacity-dend/song-data/A/A/A/'
        iam_role 'arn:aws:iam::089962944140:role/myRedshiftRole'
        FORMAT AS JSON 'auto'
        REGION 'us-west-2';


    COPY staging_songs
        FROM 's3://udacity-dend/song-data/A/A/A/'
        iam_role 'arn:aws:iam::089962944140:role/myRedshiftRole'
        FORMAT AS JSON 'auto'
        REGION 'us-west-2';
 processed OK.
All files COPIED OK.
load staging tables...
Start inserting data from staging tables into analysis tables...
Processing query:
    INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
    SELECT  DISTINCT(e.ts)  AS start_time,
            e.userId        AS user_id,
            e.level         AS level,
            s.song_id       AS song_id,
            s.artist_id     AS artist_id,
            e.sessionId     AS session_id,
            e.location      AS location,
            e.userAgent     AS user_agent
    FROM staging_events e
    JOIN staging_songs  s   ON (e.song = s.title AND e.artist = s.artist_name)
    AND e.page  =  'NextSong'


    INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
    SELECT  DISTINCT(e.ts)  AS start_time,
            e.userId        AS user_id,
            e.level         AS level,
            s.song_id       AS song_id,
            s.artist_id     AS artist_id,
            e.sessionId     AS session_id,
            e.location      AS location,
            e.userAgent     AS user_agent
    FROM staging_events e
    JOIN staging_songs  s   ON (e.song = s.title AND e.artist = s.artist_name)
    AND e.page  =  'NextSong'
 processed OK.
Processing query:
    INSERT INTO users (user_id, first_name, last_name, gender, level)
    SELECT  DISTINCT(userId)    AS user_id,
            firstName           AS first_name,
            lastName            AS last_name,
            gender,
            level
    FROM staging_events
    WHERE user_id IS NOT NULL
    AND page  =  'NextSong';


    INSERT INTO users (user_id, first_name, last_name, gender, level)
    SELECT  DISTINCT(userId)    AS user_id,
            firstName           AS first_name,
            lastName            AS last_name,
            gender,
            level
    FROM staging_events
    WHERE user_id IS NOT NULL
    AND page  =  'NextSong';
 processed OK.
Processing query:
    INSERT INTO songs (song_id, title, artist_id, year, duration)
    SELECT  DISTINCT(song_id) AS song_id,
            title,
            artist_id,
            year,
            duration
    FROM staging_songs
    WHERE song_id IS NOT NULL;


    INSERT INTO songs (song_id, title, artist_id, year, duration)
    SELECT  DISTINCT(song_id) AS song_id,
            title,
            artist_id,
            year,
            duration
    FROM staging_songs
    WHERE song_id IS NOT NULL;
 processed OK.
Processing query:
    INSERT INTO artists (artist_id, name, location, latitude, longitude)
    SELECT  DISTINCT(artist_id) AS artist_id,
            artist_name         AS name,
            artist_location     AS location,
            artist_latitude     AS latitude,
            artist_longitude    AS longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL;


    INSERT INTO artists (artist_id, name, location, latitude, longitude)
    SELECT  DISTINCT(artist_id) AS artist_id,
            artist_name         AS name,
            artist_location     AS location,
            artist_latitude     AS latitude,
            artist_longitude    AS longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL;
 processed OK.
Processing query:
    INSERT INTO time (start_time, hour, day, week, month, year, weekday)
    SELECT  DISTINCT(start_time)                AS start_time,
            EXTRACT(hour FROM start_time)       AS hour,
            EXTRACT(day FROM start_time)        AS day,
            EXTRACT(week FROM start_time)       AS week,
            EXTRACT(month FROM start_time)      AS month,
            EXTRACT(year FROM start_time)       AS year,
            EXTRACT(dayofweek FROM start_time)  as weekday
    FROM songplays;


    INSERT INTO time (start_time, hour, day, week, month, year, weekday)
    SELECT  DISTINCT(start_time)                AS start_time,
            EXTRACT(hour FROM start_time)       AS hour,
            EXTRACT(day FROM start_time)        AS day,
            EXTRACT(week FROM start_time)       AS week,
            EXTRACT(month FROM start_time)      AS month,
            EXTRACT(year FROM start_time)       AS year,
            EXTRACT(dayofweek FROM start_time)  as weekday
    FROM songplays;
 processed OK.
All files COPIED OK.
insert tables...
Jobs done